h1{
    color: #008E00
}
ul {
    background: #006A00;
    padding: 10px;
}
ul li {
    background: #787878;
    padding: 5px;
    border: solid 2px #00B000;
    display: inline-block;
}
ul li a {
    color: #00B000;
    text-decoration: none;
}
ul li a:hover {
    color: #009300;
} 
h2{
    color: #008E00
}